/* the style for homepage(index.html)*/
#abtMe{
    line-height: 300%;
}
#img{
    padding-right: 10px;
}

img{
    width: 40%;
}
/* end of index style for wide width screen
    start portofolio style */
.box{
    width: 100%;
    height: 100px;
    background-color: black; 
}
.portImg{
    width:100%;
}
  
@media only screen and (max-width: 640px) {
    body {
      
    }
    #img{
        width:100%;
    }
  }















