/* the style for homepage(index.html)*/
#abtMe{
    line-height: 300%;
}
#img{
    padding-right: 10px;
}

img{
    width: 40%;
}

.portImg{
    width:100%;
}
  
@media only screen and (max-width: 640px) {
    body {
      
    }
    #img{
        width:100%;
    }
  }















