body{
    background-image: url(./Images/blkRd.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
#headOne{
    margin-left:10%;
    
}
.container{
    background-color: white;
    padding:2%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color:yellow;
    text-align: center;
 }
.footer .container{
    padding:0;
    background-color: gray;
}