body{
    background-image: url(./Images/blkRd.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
#headOne{
    margin-left:10%;
}
.container{
    background-color: white;
}