body{
    background-image: url(./Images/blkRd.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    width :100%;
    height: 300px;
    object-fit: cover;
    background-color: black;
    padding: 10px;
}
img{
   width: 100%;
   height: 100%;
position: relative;
}
.banner{
    width: 100%;
    height: 30px;
    margin-top: 50%;
    background-color: gray;
}
.row{
    margin: 0;
    
    width: 90%;
}
.col-sm-12{
    width:100%;
    margin-bottom: 10px;
}
.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color:yellow;
    text-align: center;
 }
 footer a{
     color: yellow;
 }