/* the style for homepage(index.html)*/
body{
    background-image: url(./Images/blkRd.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
#abtMe{
    line-height: 300%;
}
#img{
    padding-right: 10px;
}

img{
    width: 40%;
}

.portImg{
    width:100%;
}
  
@media only screen and (max-width: 640px) {
    #img{
        width:100%;
    }
  }















