/* the style for homepage(index.html)*/
body{
    background-image: url(./Images/blkRd.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
#abtMe{
    line-height: 300%;
}
#img{
    padding-right: 10px;
}

img{
    width: 40%;
}

.portImg{
    width:100%;
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color:yellow;
    text-align: center;
 }
@media only screen and (max-width: 640px) {
    #img{
        width:100%;
    }
  }















